#!/bin/sh
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# # load arch JRE
# source /etc/profile.d/jre.sh

# .Xresources
xrdb -load ~/.Xresources &

# screen resolution
./.screenlayout/External1080p.sh &

# samsung tools session service
/usr/share/samsung-tools/session-service.py &

# swap caps lock and esc, speed up key repeat
~/bin/Speedswapper.sh &

# laptop fn keys
xbindkeys &

# set the cursor
xsetroot -cursor_name left_ptr &

# automount devices
devmon &

# screensaver
/usr/bin/xscreensaver -no-splash &

# compositing
compton &

# music
mpd ~/.mpdconf &

# battery
cbatticon &

# Dropbox
dropbox &

# network manager
nm-applet --sm-disable &

# wallpaper
sh ~/bin/wallpaper.sh

# screen dimming
redshiftgui &

# pulseaudio system tray
pasystray &

# update dynamic dns
afraid-dyndns-uv &

# bluetooth
blueman-applet &

# rescuetime - time tracking
rescuetime &

# urxvt daemon
urxvtd -q -o -f &

