#include "/home/feynman/.colors/tomorrow-night"

Xcursor.theme: Vanilla-DMZ-AA

! Font smoothing ---------------
Xft.antialias:  1
Xft.autohint:   0
! Xft.dpi:        192
Xft.dpi:        92
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! URxvt ----------------
URxvt*font:            xft:Fira\ Code\ Retina:size=8
URxvt*boldFont:        xft:Fira\ Code\ Retina:style=Bold:size=8
URxvt*.matcher.rend.0: Uline Bold fg8
URxvt*iso14755:        false
URxvt*urgentOnBell:    true
URxvt*saveLines:       12000
URxvt*geometry:        80x20
URxvt*scrollBar:       false
URxvt*.background:     [90]#000000
URxvt*.foreground:     t_comment
URxvt*.depth:          32
URxvt*cursorColor:     t_comment
URxvt*cursorColor2:    #555555
!URxvt*transparent:     true
!URxvt*shading:         85

! URxvt extensions
! matcher: clickable URLs
! selection-to-clipboard: URxvt selection is copied to X11 clipboard
! resize-font: uses ~/.urxvt/ext/resize-font to resize font with <Ctrl>+(+|-|=)
URxvt.perl-ext-common:              default,matcher,selection-to-clipboard,resize-font

! URxvt clickable URLs (matcher)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button:  1
URxvt.matcher.rend.0: Uline Bold fg5

! dzen2 --------------
dzen2.font:     terminus:pixelsize=12:antialias=false:hinting=none
dzen2.boldFont: terminus:bold:pixelsize=12:antialias=false:hinting=none

! Mathematica ---------
Mathematica*background: #969896
Mathematica*foreground: #1d1f21


